/* 
    Document   : entryForm
    Created on : 2012.22.5, 13:30:44
    Author     : Artis
*/

/* -------------------- SELECT BOX --------------------- */
.undersectionSelectGroup{
    margin-left:20px;
}

.sectionSelectGroup{
    margin-top:3px;
}

/* -------------------- REPLY FORM OBJECTS --------------------- */

.form{
    margin: 10px;
}