.firstPost
{
    
}

.firstPost p
{
    background-color: white;
}

#replyButton
{
    margin-left:14px;
    text-align:center;
    width:180px;
    border:1px solid #940000;
    background: #940000;
    height:30px;
    line-height: 30px;
    vertical-align: middle;
    color:#DCDCDC;
}

#replyButton a, #replyButton a:visited
{
    display:block;
    text-decoration:none;
    color:#DCDCDC;
}

#replyButton a:hover{
    border:1px solid #940000;
    color:#940000;
    background:#DCDCDC;
}